/* .clerkDashboardfullbody{
    background-color: rgba(128, 128, 128, 0.082);
} */
.clerkDashboardpiechart {
    background-color:white;
    margin-left: 50px;
    margin-right: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;

}
.clerkDashboardpiechart1{
    margin-left: 25px;
    margin-right: 50px;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;

}




.clerkDashboardTableHead {
    background-color: rgba(191, 93, 255, 1);
    color: white;
    padding: 10px;
     text-align: center; 
     font-weight: 500; 

}
#clerkDashBoardTable{
    /* position: relative;
    top: 25px;
    left: 150px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-collapse: separate;
    border-spacing: 0;*/
    border-radius: 10px;  
    width: 98%;

} 
 .clerkDashboardTableData{
    text-align: center;
    padding: 10px;
    font-weight: 500;
    font-size: large;
} 

.clerkDashboardsubline {
    color: grey;
    font-weight: 400;
    font-size: medium;
}

.clerkDashboardrowclr {
    background-color: rgba(190, 93, 255, 0.041);
}

#clerkDashboardeyeicon {
    color: rgba(191, 93, 255, 1);
    font-size: larger;
}
.clerkDashboardviewuser{
    padding-top: 35px;
    padding-left: 50px;
}
.clerkdashboard{
    padding-top: 25px;
    padding-bottom: 25px;    
}
#clerkDashboardclerkcolor{
    color: rgba(191, 93, 255, 1);
}
.clerkDashboardTableDataviewDetails{
    color: rgba(191, 93, 255, 1);
    text-align: center;
    padding: 10px;
    font-weight: 300;
    font-size: large;
}
.clerkDashboardpiechartdetails{
    padding-left: 50px;
}
#clerkDashboardclerkLoanButton{
    margin-top: 10px;
    margin-left: 50px;
    color: rgba(191, 93, 255, 1);
    background-color: white;
    border-color: rgba(191, 93, 255, 1);
}
#clerkDashboardclerkCreditcardButton{
    margin-top: 10px;

    background-color: rgba(191, 93, 255, 1);
    color: white;
    border-color: rgba(191, 93, 255, 1);
}
#clerkDashboardclerkLifeinduranceButton{
    margin-top: 10px;

    color: rgba(191, 93, 255, 1);
    background-color: white;
    border-color: rgba(191, 93, 255, 1);
}
.clerkDashboardpiechartimg{
    padding-bottom: 25px;
    padding-top: 25px;

}