.CVD-MainDiv {

    background-color: #F5F2F7;
    min-height: 100vh;

}

.CVD-MainDiv-ContainDiv {

    display: flex;
    flex-direction: row;
    gap: 25%;


}

.CVD-MainDiv-ContainDiv-ContentDiv {

    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;

}

.CVD-MainDiv-ContainDiv-HeaderDiv {

    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 60px;
    margin-left: 27px;

}

.CVD-h1 {

    color: #A112FF;
    font-weight: 600 !important;


}

.CVD-h2 {

    font-weight: 600 !important;

}

.CVD-MainDiv-ContainDiv-Content {

    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 40px;
    margin: 20px;
    gap: 40px;
    margin-right: 60px;
    margin-top: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin-left: 50%;
    transform: translate(-50%);

}

.CVD-profile-img {

    height: 131px;
    width: 131px;
    border: none;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.466);
    transition: box-shadow 0.3s ease;

}

.CVD-profile-img:hover {
    box-shadow: 0px 0px 12px 10px rgba(0, 0, 0, 0.466);
    transition: box-shadow 0.3s ease;
}

.CVD-h3 {

    color: rgba(191, 93, 255, 1);
    font-size: 28px;
    font-weight: bold !important;
    margin-top: 10px;

}

.CVD-MainDiv-ContainDiv-Content-Card-Upper {

    display: flex;
    flex-direction: row;
    gap: 40px;

}

.CVD-MainDiv-ContainDiv-Content-Card-Lower {

    display: flex;
    flex-direction: row;
    gap: 40px;

}

.CVD-MainDiv-ContainDiv-Content-Card {

    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 40px;
    border-radius: 10px;
    min-width: 421px;

}

.CVD-MainDiv-ContainDiv-Content-Card-Contain {

    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: start;

}

.CVD-MainDiv-ContainDiv-Content-Card-Left {

    display: flex;
    flex-direction: column;
    gap: 5px;


}

.CVD-MainDiv-ContainDiv-Content-Card-Left-Details {

    display: flex;
    flex-direction: column;
    gap: 5px;

}

.CVD-MainDiv-ContainDiv-Content-Card-Right {

    display: flex;
    flex-direction: column;
    gap: 5px;

}

.CVD-label {

    font-size: 16px !important;
    color: rgba(110, 110, 110, 1);

}
.CVD-MainDiv {

    background-color: #F5F2F7;
    min-height: 100vh;

}

.CVD-MainDiv-ContainDiv {

    display: flex;
    flex-direction: row;
    gap: 25%;


}

.CVD-MainDiv-ContainDiv-ContentDiv {

    width: 100%;
    display: flex;
    flex-direction: column;

}

.CVD-MainDiv-ContainDiv-HeaderDiv {

    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 60px;
    margin-left: 27px;

}

.CVD-h1 {

    color: #A112FF;
    font-weight: 600 !important;


}

.CVD-h2 {

    font-weight: 600 !important;

}

.CVD-MainDiv-ContainDiv-Content {

    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 40px;
    margin: 20px;
    gap: 40px;
    margin-right: 60px;
    margin-top: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin-left: 50%;
    transform: translate(-50%);

}

.CVD-profile-img {

    height: 131px;
    width: 131px;
    border: none;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.466);
    transition: box-shadow 0.3s ease;

}

.CVD-profile-img:hover {
    box-shadow: 0px 0px 12px 10px rgba(0, 0, 0, 0.466);
    transition: box-shadow 0.3s ease;
}

.CVD-h3 {

    color: rgba(191, 93, 255, 1);
    font-size: 28px;
    font-weight: bold !important;
    margin-top: 10px;

}

.CVD-MainDiv-ContainDiv-Content-Card-Upper {

    display: flex;
    flex-direction: row;
    gap: 40px;

}

.CVD-MainDiv-ContainDiv-Content-Card-Lower {

    display: flex;
    flex-direction: row;
    gap: 40px;

}

.CVD-MainDiv-ContainDiv-Content-Card {

    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 40px;
    border-radius: 10px;
    min-width: 474px;
    max-width: 474px;
    white-space: wrap;
    word-wrap: break-word;

}

.CVD-MainDiv-ContainDiv-Content-Card-Contain {

    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: start;

}

.CVD-MainDiv-ContainDiv-Content-Card-Left {

    display: flex;
    flex-direction: column;
    gap: 5px;
    

}

.CVD-MainDiv-ContainDiv-Content-Card-Left-Details {

    display: flex;
    flex-direction: column;
    gap: 5px;

}

.CVD-MainDiv-ContainDiv-Content-Card-Right {

    display: flex;
    flex-direction: column;
    gap: 5px;

}

.CVD-label {

    font-size: 16px !important;
    color: rgba(110, 110, 110, 1);

}

.CVD-h4 {

    font-size: 16px;
    font-weight: bold;
    max-width: 237px;
    min-width: none;
    overflow-wrap: anywhere;

}

.CVD-h5 {

    font-size: 18px;
    color: rgba(191, 93, 255, 1);
    text-align: left !important;
    font-weight: bold;

}

.CVD-MainDiv-ContainDiv-Content-Card-Button {

    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;

}

.CVD-button1 {

    background-color: white;
    color: rgba(191, 93, 255, 1);
    border: 1px solid rgba(191, 93, 255, 1);
    padding: 5px 30px;
    border-radius: 15px;
    cursor: pointer;

}
.CVD-button2 {

    background-color: rgba(191, 93, 255, 1);
    color: white;
    border: none;
    padding: 5px 30px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.CVD-txt-contain {

    max-width: 237px;
    min-width: none;
    white-space: wrap;
    word-wrap: break-word;
    overflow-wrap: anywhere;

}
.CVD-h4 {

    font-size: 16px;
    font-weight: bold;
    max-width: 237px;
    min-width: none;
    overflow-wrap: anywhere;

}

.CVD-h5 {

    font-size: 18px;
    color: rgba(191, 93, 255, 1);
    text-align: left !important;
    font-weight: bold;

}

.CVD-MainDiv-ContainDiv-Content-Card-Button {

    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;

}

.CVD-button1 {

    background-color: white;
    color: rgba(191, 93, 255, 1);
    border: 1px solid rgba(191, 93, 255, 1);
    padding: 5px 30px;
    border-radius: 15px;
    cursor: pointer;

}

.CVD-button2 {

    background-color: rgba(191, 93, 255, 1);
    color: white;
    border: none;
    padding: 5px 30px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.CVD-textcontain {

    max-width: 237px;
    min-width: none;
    white-space: wrap;
    word-wrap: break-word;
    overflow-wrap: anywhere;

}