.CVLD-MainDiv {

    background-color: #F5F2F7;
    min-height: 100vh;

}

.CVLD-MainDiv-ContainDiv {

    display: flex;
    flex-direction: row;
    gap: 22%;
    

}

.CVLD-MainDiv-ContainDiv-ContentDiv {

    width: 100%;
    display: flex;
    flex-direction: column;
    margin:30px;
}

.CVLD-MainDiv-ContainDiv-HeaderDiv {
    
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 10px;
    margin-top: 30px;
    margin-left: 2px;

}

.CVLD-h1 {

    color: #A112FF;
    font-weight: 600 !important;


}

.CVLD-h2 {

    font-weight: 600 !important;

}

.CVLD-MainDiv-ContainDiv-Content {

    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 30px;
    padding-top:50px;
    gap: 30px;
    margin-top: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin-left: 50%;
    transform: translate(-50%);

}

.CVLD-profile-img {

    height: 161px;
    width: 161px;
    border: none;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.466);
    transition: box-shadow 0.3s ease;

}

.CVLD-profile-img:hover {
    box-shadow: 0px 0px 12px 10px rgba(0, 0, 0, 0.466);
    transition: box-shadow 0.3s ease;
}

.CVLD-h3 {

    color: rgba(191, 93, 255, 1);
    font-size: 25px;
    font-weight: bold !important;

}

.CVLD-MainDiv-ContainDiv-Content-Card-Upper {

    display: flex;
    flex-direction: row;
    gap: 30px;

}

.CVLD-MainDiv-ContainDiv-Content-Card-Lower {

    display: flex;
    flex-direction: row;
    gap: 30px;

}

.CVLD-MainDiv-ContainDiv-Content-Card {

    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 40px;
    border-radius: 10px;
    min-width: 474px;
    max-width: 474px;
    white-space: wrap;
    word-wrap: break-word;

}

.CVLD-MainDiv-ContainDiv-Content-Card-Contain {

    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: start;

}

.CVLD-MainDiv-ContainDiv-Content-Card-Left {

    display: flex;
    flex-direction: column;
    gap: 5px;
    

}

.CVLD-MainDiv-ContainDiv-Content-Card-Left-Details {

    display: flex;
    flex-direction: column;
    gap: 5px;

}

.CVLD-MainDiv-ContainDiv-Content-Card-Right {

    display: flex;
    flex-direction: column;
    gap: 5px;

}

.CVLD-label {

    font-size: 16px !important;
    color: rgba(110, 110, 110, 1);

}

.CVLD-h4 {
    /* text-decoration: underline; */

    font-size: 16px;
    font-weight: bold;
    max-width: 237px;
    min-width: none;
    overflow-wrap: anywhere;

}

.CVLD-h4-img {

    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
    max-width: 237px;
    min-width: none;
    overflow-wrap: anywhere;
    color:rgba(191, 93, 255, 1);
    text-decoration: 2px solid underline;

}

.CVLD-h5 {

    font-size: 18px;
    color: rgba(191, 93, 255, 1);
    text-align: left !important;
    font-weight: bold;

}

.CVLD-MainDiv-ContainDiv-Content-Card-Button {

    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;

}

.CVLD-button1 {

    background-color: white;
    color: rgba(191, 93, 255, 1);
    border: 1px solid rgba(191, 93, 255, 1);
    padding: 5px 30px;
    border-radius: 15px;
    cursor: pointer;

}
.CVLD-button2 {

    background-color: rgba(191, 93, 255, 1);
    color: white;
    border: none;
    padding: 5px 30px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.CVLD-txt-contain {

    max-width: 237px;
    min-width: none;
    white-space: wrap;
    word-wrap: break-word;
    overflow-wrap: anywhere;

}
.CVLD-h4 {

    font-size: 16px;
    font-weight: bold;
    max-width: 237px;
    min-width: none;
    overflow-wrap: anywhere;

}

.CVLD-h5 {

    font-size: 18px;
    color: rgba(191, 93, 255, 1);
    text-align: left !important;
    font-weight: bold;

}

.CVLD-MainDiv-ContainDiv-Content-Card-Button {

    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;

}

.CVLD-button1 {

    background-color: white;
    color: rgba(191, 93, 255, 1);
    border: 1px solid rgba(191, 93, 255, 1);
    padding: 5px 30px;
    border-radius: 15px;
    cursor: pointer;

}

.CVLD-button2 {

    background-color: rgba(191, 93, 255, 1);
    color: white;
    border: none;
    padding: 5px 30px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.CVLD-textcontain {

    max-width: 237px;
    min-width: none;
    white-space: wrap;
    word-wrap: break-word;
    overflow-wrap: anywhere;

}