.side-nav {
    background-color: black;
    min-height: 100vh;
    height: max-content;
    color: aliceblue;
    position: fixed;
    width: 23%;
}
.side-nav .nav-link {
    background-color: #000;
    color: #ddd;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
   
}
.side-nav .nav-link:hover {
    background-color: #BF5DFF;

    color: #fff;
}

#tableth {
    background-color: rgba(191, 93, 255, 1);
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: 500;

}

.fulltable {
    /* position: relative; */
    /* top: 25px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px; 
    

}

/* #viewuserbody {
    margin: 0px 1px;
} */

/* td {
    text-align: center;
    padding: 10px;
    font-weight: 500;
    font-size: large;
} */

.subline {
    color: grey;
    font-weight: 400;
    font-size: medium;
}

.rowclr {
    background-color: rgba(190, 93, 255, 0.041);
}

#eyeicon {
    color: rgba(191, 93, 255, 1);
    font-size: larger;
}

.buttonclr {
    background-color: rgba(191, 93, 255, 1);
    border-color: rgba(191, 93, 255, 1);
    text-align: center;
    /* width: Hug (82px)px;
    height: Hug (26px)px; */
    /* padding: 3px 3px 3px 8px; */
    /* gap: 5px; */
    border-radius: 27px 0px 0px 0px;
    opacity: 0px;
    box-shadow: inset 0 2px 10px (0, 0, 0, 0.25);

}

.searchbar {
    border-radius: 50px;
    font-size: medium;
    font-weight: 600;
    color: rgba(128, 128, 128, 0.5);
}

#view {
    color: rgba(191, 93, 255, 1);
}

#pageno{
    color: black;
}

  
  /* Sidebar */
  .sidebar {
    /* background-color: #f8f9fa; */
    min-height: 100vh;
  }
  
  /* Main Content */
  .main-content {
    padding-right: 20px;
    background-color: #ffffff;
  }
  

  /* Table */
  .user-table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
  }
  #th{
    background-color: #BF5DFF;
    color: #f1f1f1;
  }
  .user-table th,
  .user-table td {
    text-align: center;
    padding: 10px;
    vertical-align: middle;
  }
  
  .user-table th {
    background-color: #f1f1f1;
  }
  
  /* Responsive Breakpoints */
  @media (max-width: 768px) {
    .d-flex {
      flex-direction: column;
    }
  
    .sidebar {
      min-height: auto;
    }
  
    .searchbar1 {
      margin-top: 10px;
    }
  }
  