/* userregister */
.customerform {
  background-color: #d4acee;
}

.formstyle {
  color: #1a161e;
  font-weight: 500;
  margin-top: 80px;
}

#regheading {
  color: #a82bfb;
  font-weight: 650;
}

#linkstyle {
  color: #a318ff;
}

#regbutton {
  border-radius: 10px;
  padding: 2px 40px;
  background-color: #d295fa;
  color: #3b2a46;
  font-weight: 620;
  border: 1px solid transparent;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

#foot {
  font-weight: lighter;
  color: #a183b5;
}
.container1 {
  margin-left: 2%;
}
/* userlogin */

.box1 {
  width: 450px;
  border: 1px solid #9a00ff;
  border-radius: 20px;
  background-color: #d4acee;
  padding: 5% 5%;
  margin: 20% 20%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.loginput {
  border: none;
  border-radius: 7px;
}
#submit {
  /* margin-left: 30px; */
  background-color: #d295fa;
  border: none;
  border-radius: 10px;
  padding: 5px 36px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#bd {
  background-color: #d4acee;
}
.loglab {
  color: rgb(147, 61, 190);
  font-size: 20px;
}
.logcont {
  margin-left: 20px;
}
